<div>
  <h2>👩 About</h2>
  <div>
    <div>
      Hi, I'm Yujin Won. I'm a student in CPA program of Seneca College.
      <br/><br/>
      I love that feeling right when I deploy code, knowing that real people get to use in their daily lives.
      <br/><br/>
      And I love the accessibility and infinite possibilities that coding brings.
      <br/><br/>
      This is my first Angular App that I'm making for WEB422 Assignment :)
    </div>
    <br/>
    <a href="https://www.yujinwon.com/"><button>www.yujinwon.com</button></a>
  </div>
</div>
